{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}

{% block monTitre %}Liste des types d'aliments{% endblock %}
{% block body %}
<div class="row p-2 m-2">
    {% for type in types %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card align-items-center col-center" style="width: 18rem;">
            <img src="{{asset("images/types/" ~ type.image)}}" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title"><a href="">{{ type.libelle }}</a></h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
